/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
   
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



.table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: cornflowerblue;
    color: white;
}


.button {
    display: inline-block;
    border-radius: 4px;
    background-color: cornflowerblue;
    border: none;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

    .button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

.btn-link:link, .btn-link:visited {
    background-color: white;
    color: black;
    /*border: 1px solid blue;*/
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.btn-link:hover, .btn-link:active {
    background-color: cornflowerblue;
    color: white;
}

a:link, a:visited {
    background-color: none;
    /*color: black;*/
    /*border: 2px solid green;*/
  
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: cornflowerblue;
    color: white;
}



    /*.tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
    }*/

    /*.tooltip:hover .tooltiptext {
        visibility: visible;
    }*/

    /*.tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 50%;
        margin-left: -60px;
    }*/


/*.hoverDesc {
    position: relative;
}
.hoverDesc:hover span.CellComment {
        display: block;
    }*/

/*.CellComment {
    display: none;
    position: absolute;
    z-index: 100;
    border: 1px;
    background-color: transparent;
    border-style: groove;
    border-width: 1px;
    border-color: transparent;
    padding: 3px;
    color: black;
    top: 20px;
    left: 20px;
}*/