@{
    ViewData["Title"] = "About";
}

<h2 style=" color:red;"> @ViewData["Title"]</h2>

<h3>Our Application</h3>

<p>This application was built for allowing you to upload and donwload movies whenever you want, bringing conviniency for you and your family. We are 24/7 on-line just waiting for your next access.</p>
<br />
<p> Have fun !!!</p>
<br /><br /><br />
<p>Regards</p>
<p>Nikesh Patel and Yan Karlo</p>
