@{
    ViewData["Title"] = "Contact";
}
<h2 style=" color:red;"> @ViewData["Title"]</h2>


<h3>Office</h3>

<address>
    941 PROGRESS AVE, SCARBOROUGH, M1G 3T8<br />
    Ontario, Canada<br />
    <abbr title="Phone">P:416-289-5000</abbr>

</address>

<address>
    <strong>Support:</strong> <a href="mailto:nikesh@example.com">pnikesh365@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:yankarlo@hotmail.com">yankarlo@hotmail.com</a>
</address>
